<!DOCTYPE html>
<html>
  <head>
    <title>ReclameAi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:notice] %>
    <div>
      <span><%= link_to 'Visão do usuário', root_path %></span>
      - <span><%= link_to 'Visão do atendente', complaints_path %></span>
    </div>
    <%= yield %>
  </body>
</html>
